<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="{{ pathto(master_doc) }}">Docs</a> &raquo;</li>
      {% for doc in parents %}
          <li><a href="{{ doc.link|e }}">{{ doc.title }}</a> &raquo;</li>
      {% endfor %}
    <li>{{ title }}</li>
      <li class="wy-breadcrumbs-aside">
        {% if pagename != "search" %}
          {% if show_source and source_url_prefix %}
            <a href="{{ source_url_prefix }}{{ pagename }}{{ source_suffix }}">View page source</a>
          {% elif show_source and has_source and sourcename %}
            <a href="{{ pathto('_sources/' + sourcename, true)|e }}" rel="nofollow"> View page source</a>
          {% endif %}
        {% endif %}
      </li>
  </ul>
  <hr/>
</div>
