{% load i18n %}
{% load copyrighttags %}
{% load static %}
<!DOCTYPE html>
<html>

<head>

  <!-- meta -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="icon" type="image/png" href="{{ MEDIA_URL }}images/favicon.png">

  <!-- title -->
  <title>{% block title %}{% endblock %}{% block head_title %}{% endblock %} | {% block branding %}{% trans "FSG Memphis" %} {% endblock %}</title>

  <!-- css -->
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/core.css">
  {% block extra_links %}{% endblock %}

  <!-- jquery -->
  <script type="text/javascript" src="{% static 'vendor/jquery.js' %}"></script>

  <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery/jquery-ui-1.8.24.custom.min.js"></script>

  <script type="text/javascript" src="{{ MEDIA_URL }}javascript/instantsearch.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}javascript/base.js"></script>

  {% block extra_scripts %}{% endblock %}

  <!-- typekit -->
  <!-- Old typekit
  <script type="text/javascript" src="//use.typekit.com/xgl8ypn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  -->

  <script type="text/javascript" src="//use.typekit.net/haq4xtp.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>

<body class="{% block body_class %}{% endblock %}">

    {% block header-wrapper %}
        {% include "core/header.html" %}
    {% endblock %}

    {% block subnav-bar %}{% endblock %}

    {% block project_editing %}{% endblock %}


    <!-- BEGIN content-->
    <div id="content">
      <div class="wrapper">

        {% if messages %}
          <ul class="notifications">
            {% for message in messages %}
              <li class="notification notification-{{ message.level }}">
                {{ message }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% block content-header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

      </div>
    </div>
    <!-- END content-->

    <!-- BEGIN footer-->
    <div id="footer">
      <div class="wrapper">

        <hr>


        {% block footer-content %}
        <p>
        Copyright {% getCopyrightYears %}. FSG Investment Management, LLC
        </p>
        {% endblock %}

        {% get_current_language as current_lang %}
        <form action="/i18n/setlang/" method="post">{% csrf_token %}
          <input name="next" type="hidden" value="/" />
            {% csrf_token %}
            <select style="float: left; height: 33px;" name="language">
              {% for lang in LANGUAGES %}
                {% if lang.0 == current_lang %}
                <option selected="selected" value="{{ lang.0 }}">{{ lang.0|language_name_local }} [{{ lang.1 }}]</option>
                {% else %}
                <option value="{{ lang.0 }}">{{ lang.0|language_name_local }} [{{ lang.1 }}]</option>
                {% endif %}
                }
              {% endfor %}
            </select>
            <input style="float: left; height: 33px; margin: 0px;" type="submit" value="Change Language" name="submit">
        </form>

        <br>
        <br>

      </div>
    </div>
    <!-- END footer-->

</body>

</html>
