{% extends "base.html" %}

{% load i18n %}

{% load pagination_tags %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block body_class %}home {% if not request.user.is_authenticated %}splash{% endif %}{% endblock %}

{% block nav-browse %}class="active"{% endblock %}

{% block header-wrapper %}
  {% if request.user.is_authenticated %}
    {% include "core/header.html" %}
  {% else %}
    {% include "core/home-header.html" %}
  {% endif %}
{% endblock %}

{% block extra_scripts %}
        <script>
    $(document).ready(function() {
            // Show action on hover
            $(".module-item-menu").hover(
              function () {
                $(".hidden-child", this).show();
              }, function () {
                $(".hidden-child", this).hide();
              }
            );
    });
        </script>
{% endblock %}


{% block content %}

          {% include "core/widesearchbar.html" %}

          {% if featured_list %}
          <!-- BEGIN projects list -->
          <div class="module">
            <div class="module-wrapper">

              <div class="module-header">
                <h3>{% trans "Featured Projects" %}</h3>
              </div>

              <div class="module-list">
                <div class="module-list-wrapper">
                  <ul>
                    {% include "core/project_list_featured.html" %}
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <!-- END projects list -->
          {% endif %}

          <!-- BEGIN projects list -->
          <div class="module">
            <div class="module-wrapper">

              <div class="module-header">
                <h3>{% trans "Recently Updated Projects" %}</h3>
              </div>

              <div class="module-list">
                <div class="module-list-wrapper">
                  <ul>
                    {% include "core/project_list_detailed.html" %}
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <!-- END projects list -->


          {% comment %}
          <!-- BEGIN projects list -->
          <div class="module">
            <div class="module-wrapper">

              <div class="module-header">
                <h3>{% trans "Most Viewed Pages" %} <span class="small_head"><a href="{% url "pageviews_list" %}">{% trans "(All Views)" %}</a></span></h3>
              </div>

              <div class="module-list">
                <div class="module-list-wrapper">
                  <ul>
                    {% with updated_list as pageview_list %}
                      {% include "core/pageview_list_detailed.html" %}
                    {% endwith %}
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <!-- END projects list -->


          <!-- BEGIN marks list -->
          <div class="module">
            <div class="module-wrapper">

              <div class="module-header">
                <h3>{% trans "Recently Bookmarked Docs" %} <span class="small_head"><a href="{% url "bookmarks_list" %}">{% trans "(All Bookmarks)" %}</a></span></h3>
              </div>

              <div class="module-list">
                <div class="module-list-wrapper">
                  <ul>
                    {% include "core/bookmark_list_detailed.html" %}
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <!-- END marks list -->
          {% endcomment %}

{% endblock %}
