{% load i18n %}
{% load gravatar %}

<!-- BEGIN header-->
<div id="rtfd-header">
  <div class="wrapper">

    <!-- BEGIN header title-->
    <div class="rtfd-header-title">
      <h1>
        {% comment %}Translators: Name of the website{% endcomment %}
        <a href="{% url "homepage" %}">{% trans "FSG Memphis" %}</a>
      </h1>
    </div>
    <!-- END header title -->

    <!-- BEGIN header nav -->
    {% if request.user.is_authenticated %}
    <div class="menu menu-user" id="subnav-user-menu">
      <div class="menu-button">
        <a href="{% url 'projects_dashboard' %}">
          {% gravatar request.user.email 24 %}
          {{ request.user }}</a>
        <button class="menu-drop">▼</button>
      </div>
      <div class="menu-dropdown">
        <ul>
          <ul>
            <li><a href="{% url 'projects_dashboard' %}">{% trans "Projects" %}</a></li>
            <li><a href="{% url 'projects_import' %}">{% trans "Add Project" %}</a></li>
            <li><a href="{% url 'profiles_profile_edit' %}">{% trans "Edit Profile" %}</a></li>
            <li><a href="{% url 'bookmark_list' %}">{% trans "Bookmarks" %}</a></li>
          </ul>
          <ul>
            <li><a href="{% url 'account_logout' %}">{% trans "Log Out" %}</a></li>
          </ul>
        </ul>
      </div>
    </div>
    {% else %}
    <div class="rtfd-header-nav">
      <ul><li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li></ul>
    </div>
    {% endif %}
    <!-- END header nav -->


  </div>
</div>
<!-- END header-->
