{% load i18n %}

    <!-- BEGIN header-->
    <div id="home-header">
      <div class="wrapper">

        <!-- BEGIN header title-->
        <div class="home-header-title">
          <h1>{% trans "FSG Memphis" %}</h1>
        </div>
        <!-- END header title -->

        <!-- BEGIN header links-->
        <div class="home-header-links">
          {% comment %}Translators: Note, the full sentence goes 'Sign up' 'or' 'Log in'. But unfortunately the three bits have to be separate.{% endcomment %}
          <div class="login-box">
            <p><a class="login" href="{% url "account_login" %}">{% trans "Log in" %}</a></p>
          </div>
        </div>
        <!-- END header links -->

      </div>
    </div>
    <!-- END header-->
